.teams{ng_controller: "teamsController"}
  %ul.teams  
    - teams.each do |team|
      %li.btn{:class => "#{"white" unless teams.find_index(team) % 2 == 0}", "data-toggle" => "modal", :href => "#teamModal", :role => "button", "data-backdrop" => "false", ng_click: "fillModal(#{team.to_json}, #{team.players.to_json})" }
        - if team.picture_url.nil?
          %img{src: "assets/pads.jpg" }
        - else
          %img{src: team.picture_url(:thumb) }
        %h2= team.name

  %a.pretty.medium.metro.default.btn{"data-toggle" => "modal", :href => "#teamNewModal", :role => "button", "data-backdrop" => "false"}New team
/ Modal
#teamModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %img.teamImage
    %h2.teamName
  .modal-body
    .player
      %img.image
      %h2
        %a.user_account
      %h4.email
    .player
      %img.image
      %h2
        %a.user_account
      %h4.email

  .modal-footer
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close


#teamNewModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabeladsda", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.pretty.default.btn.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3.teamName
  .modal-body
    =render 'new'
  .modal-footer
    %button.pretty.default.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
