@import screen

+layout(9)
  #content
    +container

li
  list-style: none

.team
  display: inline-block
  h2
    margin-bottom: 5px
    margin-top: 10px
  .picture
    +span-columns(3,9)
    text-align: center
    img
      width: 125px
      border: 1px solid
  .info
    +span-columns(6 omega,9)
    margin: 0

.players
  h2
    margin-bottom: 5px
    margin-top: 10px

.player1, .player2
  h3
    margin-bottom: 5px
  label
    display: block
  li
    +span-columns(3,9)
  li.last
    +span-columns(3 omega,9)

form
  fieldset
    border: none
