<div ng-controller="AdminRoundController">
  Admin area
  Round {{round}}
  <ul>
    <li ng-repeat="match in matches" ng-class="match.pair">
    <div class="ng-cloak">
      <div ng-hide="match.empty" ng-repeat="team in match.teams" ng-class="{'second': $index, 'first': !$index }" ng-click="showTeam(team.id)">
        <span>
          <img src="/temp_team.png"/>
          <!--<img src="{{ team.picture || '/temp_team.png' }}"/>-->
        </span>
        <span>
          {{team.name}}
        </span>
      </div>
      <div ng-show="match.empty">
        No teams available
      </div>
    </div>
    </li>
  </ul>
  <button ng-click="previousMatch(round)">Previous round</button>
  <button ng-click="nextMatch(round)">Next round</button>
</div>
