.rounds
  h1
    padding-left: 150px

  ul.round_matches
    background: #c7c7c7
    border-bottom: 5px solid #ffb400
    width: 1000px
    margin-left: 150px
  
    li.gray
      background: #c7c7c7
    li.white
      background: #fff
  
    li.matches
      display: block
      font-weight: bold
      list-style: none
      padding: 7px 10px 5px 10px
      border-top: 1px solid
  
      .match
        overflow: hidden
  
      .match_members
        float: left
        display: inline-block
  
      img
        width: 60px
        height: 60px
  
        &.delete
          width: 35px
          height: 40px
          padding-bottom: 10px
  
      p
        display: inline
        font-size: 24px
  
      .set
        display: inline
