= stylesheet_link_tag 'application/index'

%header

  .header-titles-container
    =image_tag 'tango-pong-logo.png', class: 'logo'
    %div.hash-tag #someHashTag

  %nav
    %ul
      %li Teams
      %li Scores
      %li Rules

#content

%footer
  %p < Playing ping pong at #someHashTag tournament #{link_to 'http://bit.ly/as893fs3', 'http://bit.ly/as893fs3'} >
