= stylesheet_link_tag 'application/index'

%header

  .header-titles-container
    %h1 Ping pong application title
    %div.hash-tag #someHashTag

  %nav
    %ul
      %li Teams
      %li Scores
      %li Rules

#content

%footer
  %p Playing ping pong at #someHashTag
