
header

  .header-titles-container
    overflow: auto

    h1
      float: left

    .hash-tag
      float: right

  nav ul
    border-top: 2px solid black
    border-bottom: 2px solid black

    li
      display: inline-block
      list-style: none
