!!!
%html(ng-app="App")
  %head
    %title Pinpong
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true

    %script{src: "http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"}
    %script{src: "http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"}

    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = yield
